##This is the _PMDB configuration file
##Designed at July 9, 2019 by Xiaoquan Su
##Bioinformatics Group, Single-Cell Research Center, QIBEBT, CAS
#
#For MetaPhlAn2
#Database id, one single symbol
m
#Database domain, 0 for prokaryote, 1 for eukaryote
0
#Database name (also the path)
metaphlan2
#Database description
MetaPhlAn2
#If contains the taxaonomy annotation, Y or N
Y
#If contains the phylogeny tree, Y or N
Y
#If contains the copy number, Y or N
N
#If contains the function prediction information, Y or N
N
#
#For MetaPhlAn3
#Database id, one single symbol
M
#Database domain, 0 for prokaryote, 1 for eukaryote
0
#Database name (also the path)
metaphlan3
#Database description
MetaPhlAn3
#If contains the taxaonomy annotation, Y or N
Y
#If contains the phylogeny tree, Y or N
Y
#If contains the copy number, Y or N
N
#If contains the function prediction information, Y or N
N
#
